/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

:root {
  --primary: #323641;
  --secondary: #808080;
  --text-dark: #000000;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia", cursive;
  min-height: 110vh;
}

body::before {
  content: "";
  display: block;
  position: relative;
  padding-top: 70px;
}

img {
  width: 100%;
}

p {
  font-size: 1.1rem;
  text-align: justify;
  margin: 5px 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header,
footer {
  padding: 0px 10px;
}

/* ==============Header Starts================ */
#header {
  background: var(--primary);
  border-bottom: 4px solid black;
  z-index: 10;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--text-light);
  font-size: 2.5rem;
  font-weight: bold;
}

.navlinks {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.navlinks ul li {
  border-right: 1px solid black;
  border-bottom: 2px solid transparent;
}

.navlinks ul li:first-child {
  border-left: 1px solid black;
}

.navlinks ul li a {
  padding: 25px 20px;
  line-height: 80px;
  color: var(--text-light);
  font-size: 1.1rem;
}

.navlinks ul li:hover {
  border-bottom: 2px solid white;
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}
/* ==============Header Ends================ */

/**/

/* ==============Main Body Starts================ */
#main-body-wrapper .container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px 0px;
}

#main {
  padding: 10px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  margin-bottom: 20px;
}

.blog_image {
  width: 100%;
}

.blog_title {
  font-family: "Sofia", cursive;
  font-size: 1.62rem;
}

.blog_description {
  font-family: "Sofia", cursive;
  font-size: 1.1rem;
}

.cta {
  padding: 10px 30px;
  background-color: white;
  border: 1px solid var(--secondary);
  border-radius: 26px;
  color: var(--secondary);
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.cta:hover {
  background-color: var(--secondary);
  color: white;
}
/* ==============Main Body Ends================ */

/**/

/* ==============Aside Starts================ */
#aside {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 0px 20px 0px 0px;
}

.aside_block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.aside_title {
  font-family: "Sofia", cursive;
  font-weight: 100;
  font-size: 1.6rem;
  color: var(--text-dark);
}

.aside_description {
  font-family: "Sofia", cursive;
  font-size: 1.1rem;
}

.aside_block input,
.aside_block button {
  display: block;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  outline: none;
}

.form {
  width: 100%;
  display: flex;
}

.form input {
  width: 85%;
}

.form button {
  width: 15%;
}

.aside_block button {
  background: var(--primary);
  color: white;
}
/* ==============Aside Ends================ */

/**/

/* ==============Page Navigation Starts================ */
.page-navigation {
  border-top: 1px solid black;
  grid-column: 1/3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.page-navigation a {
  color: var(--secondary);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page-navigation a:hover {
  letter-spacing: 0.5rem;
}
/* ==============Page Navigation Ends================ */

/**/

/* ==============Footer Starts================ */
#footer {
  border-top: 1px solid black;
  padding: 20px 10px;
}

#footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer h2 {
  color: var(--primary);
  font-weight: 100;
  font-size: 2rem;
}

#footer span {
  display: block;
  color: var(--secondary);
  font-size: 0.9rem;
  margin-top: 5px;
}
/* ==============Footer Ends================ */

/**/

/* ===============Scroll to top=============== */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--primary);
  color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#scroll-to-top.active {
  opacity: 1;
  pointer-events: all;
}

#scroll-to-top:hover {
  transform: translateY(-10px);
}
/* ===============Scroll to top=============== */
